input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.rounded-7 {
    border-radius: 0.7rem !important;
}

.max-width {
    display: block;
    max-width: 212px;
}
