.App {
    box-sizing: border-box;
}

.vertical-center {
    margin: 0 auto;
    top: 50%;
}

.fromTo {
    display: flex;
    flex-direction: row;
}

.from {
    display: block;
}

.to {
    display: block;
    margin-left: 200px;
}

.icon_plus {
    display: inline-block;
    margin-top: 16px;
    cursor: pointer;
    width: 36px;
    height: 36px;
    background: linear-gradient(#fff, #fff),
    linear-gradient(#fff, #fff),
    #0db403;
    background-position: center;
    background-size: 50% 2px, 2px 50%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat: no-repeat;
    border-radius: 50%;
}

.icon_plus:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
}
